{% trans_default_domain 'FOSUserBundle' %}

<div class="vertical-offset-100">
    <div class="col-md-12">
        <div class="panel panel-success ">
            <div class="panel-heading ">
                <h3 class="panel-title">
                    Profil
                </h3>
            </div>
            <div class="panel-body ">
                <div class="row">   
                    <div class="fos_user_user_show ">
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <table class="table "> 
                                    <div class="panel-heading ">
                                        <h3 class="panel-title">
                                            Identité
                                        </h3>
                                    </div>
                                    <div class="panel-body ">
                                        <tbody >
                                            <tr>
                                                <td class="longP">{{ 'profile.show.username'|trans }}</td>
                                                <td><span class="label label-info"> {{ user.username }} </span></td>
                                            </tr>
                                            <tr>
                                                <td class="longP">{{ 'profile.show.prenom'|trans }}</td>
                                                <td><span class="label label-info">{{ user.prenom }}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="longP">{{ 'profile.show.pseudo'|trans }}</td>
                                                <td><span class="label label-info">{{ user.pseudo }}</span></td>
                                            </tr>
                                            <td class="longP">Photo</td>
                                                <td class="col-sm-5 col-xs-6 col-lg-5 col-md-5">
                                                {% if app.user.image %}        
                                                   <img title="ma photo" style="border: 2px #DFF0D8 solid ; border-color: #DFF0D8; padding: 1px 1px 1px 1px; border-radius: 5%;" src="{{ asset(image.webPath) }}" alt="{{ image.alt }}" />
                                                {% else%}
                                                   <img title="mon avatar" style="border: 2px #DFF0D8 solid ; border-color: #DFF0D8; padding: 1px 1px 1px 1px; border-radius: 5%;" src="{{ asset('img/user.png') }}" alt="{{ "pas de photo" }}"/>
                                                {% endif%}</span>
                                            </td>
                                            <tr>
                                                <td class="longP"></td>
                                                <td><img class="signlogo"  src="{{ asset('img/LogoPropeMe.svg') }}" alt="Logo JevisLà"></td>    
                                            </tr>
                                        </tbody>
                                    </div>    
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">                        
                            <div class="panel panel-info">
                                <table class="table">
                                    <div class="panel-heading ">
                                        <h3 class="panel-title">
                                            Adresse
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <tbody>
                                            <tr>
                                                <td class="longP">{{ 'profile.show.numeroAd'|trans }}</td>
                                                <td><span class="label label-info">{{ user.numeroAd }}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="longP">{{ 'profile.show.voieAd'|trans }}</td>
                                                <td><span class="label label-info">{{ user.voieAd }}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="longP">{{ 'profile.show.nomVoieAd'|trans }}</td>
                                                <td><span class="label label-info">{{ user.nomVoieAd }}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="longP">{{ 'profile.show.villeAd'|trans }}</td>
                                                <td><span class="label label-info">{{ user.villeAd }}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="longP">{{ 'profile.show.codePostal'|trans }}</td>
                                                <td><span class="label label-info">{{ user.codePostal }}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="longP"></td>
                                                <td><img class="signlogo"  src="{{ asset('img/LogoPropeMe.svg') }}" alt="Logo JevisLà"></td>    
                                            </tr>
                                        </tbody>
                                    </div>    
                                </table>
                            </div>
                        </div>                
                    </div>
                    <div class="fos_user_user_show col-md-6">
                        <div class="panel panel-info">
                            <table class="table">
                                <div class="panel-heading ">
                                    <h3 class="panel-title">
                                        Contact
                                    </h3>
                                </div>
                                <div class="panel-body ">
                                    <tbody>
                                        <tr>
                                            <td class="longP">{{ 'profile.show.portable'|trans }}</td>
                                            <td><span class="label label-info">{{ user.portable }}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="longP">{{ 'profile.show.email'|trans }}</td>
                                            <td><span class="label label-info">{{ user.email }} </span></td>
                                        </tr>
                                        <tr>
                                             <td class="longP"></td>
                                            <td><img class="signlogo"  src="{{ asset('img/LogoPropeMe.svg') }}" alt="Logo JevisLà"></td>    
                                        </tr>
                                    </tbody>
                                 </div> 
                            </table>
                         </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>

 
